* {
    box-sizing: border-box;
}

li {
    list-style: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

.backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    height: 100vh; 
    width: 100vw;
    background: rgb(0, 0, 0, 0.5);
}

.center {
    margin: 0 auto;
    max-width: 1040px;
    min-width: 320px;
}

/* Buttons General Start */

.button {
    padding: 1rem 0;
    width: 100%;
    color: white;
    background: #0e4f1f;
    font-weight: bold;
    font-size: 22px;
    border: #0e4f1f solid 5px;
    border-radius: 8px;
    cursor: pointer;
    width: 90%;
}

.button:hover {
    color: #0e4f1f;
    background: white;
    border: #0e4f1f solid 5px;
}

.button:active {
    color: #0e4f1f;
    background: rgb(250, 253, 65);
    border: #0e4f1f solid 5px;
}

.button:focus {
    outline: none;
}

/* Buttons General End */



/* Main Header Start */

.main-header {
    width: 100%;
    background: #2ddf5c;
    padding: 0.5rem 1rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.main-logo {
    display: inline-block;
    vertical-align: middle;
}

.logo-image {
    width: 35px;
    height: auto;
    position: relative;
    left: -5px;
    background: #ff1b68;
    padding: 2px;
    border-radius: 100%;
    border: 2px white solid;
    vertical-align: middle;

}


.main-logo a {
    text-decoration: none;
    color: #0e4f1f;
    font-weight: bold;
    font-size: 1.375rem;
    vertical-align: middle;

}

/* Main Header End */

/* Main Navigation Start */

.main-nav {
    display: inline-block;
    text-align: right;
    vertical-align: middle;
    width: calc(100% - 110px);
}

.main-nav__items {
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    margin: 0 1rem;
}

.main-nav__item a {
    text-decoration: none;
    color: #0e4f1f;
    font-weight: bold;
    padding: 0.1875rem;
}

.main-nav__item a:hover {
    color: #3a834d;
    border-bottom: #3a834d solid 3px;

}

.main-nav__item a:active {
    color: white;
    border-bottom: white solid 3px;

}

.call-to-action a{
    color: white;
    background: #ff1b68;
    padding: 0.5rem 1rem;
    border: white 3px solid;
    border-radius: 8px;
}

.call-to-action a:hover {
    color: #ff1b68;;
    background: white;
    padding: 0.5rem 1rem;
    border: #ff1b68 3px solid;
    border-radius: 0.5rem;
}



/* Main Navigation End */

/* Footer Section Start */
.main-footer {
    background: #413e3e;
    color: white;
    padding: 1.25rem;
}

.footer-items {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer-item {
    display: inline-block;
    margin: 0 1rem;
}

.footer-item__link {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a.footer-item__link:hover {
    color: #afafaf;
}

a.footer-item__link:active {
    color: #ff1b68;
}

/* Footer Section End */


