* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, a, li {
    text-align: center;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 1rem 0 0 0;
}


.main-nav {
    display: none;
}

.modal {
    display: none;
}

/* Buttons General Start */

.button {
    padding: 1rem 0;
    color: white;
    background: #0e4f1f;
    font-weight: bold;
    font-size: 22px;
    border: #0e4f1f solid 5px;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    color: #0e4f1f;
    background: white;
    border: #0e4f1f solid 5px;
}

.button:active {
    color: #0e4f1f;
    background: rgb(250, 253, 65);
    border: #0e4f1f solid 5px;
}

.button:focus {
    outline: none;
}

/* Buttons General End */

/* Main Header */ 

.main-header {
    width: 100vw;
    background: #2ddf5c;
    padding: 1.25rem 1.8rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
}

.main-logo {
    flex: 1;
}

.main-logo a {
    text-decoration: none;
    color: #0e4f1f;
    font-weight: bold;
    font-size: 2rem;
    vertical-align: middle;

}

.logo-image {
    display: inline-block;
    width: 35px;
    height: auto;
    position: relative;
    left: -5px;
    top: 6px;
    background: #ff1b68;
    padding: 2px;
    border-radius: 100%;
    border: 2px white solid;    
}

.toggle-button {
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;

}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 100%;
  height: 0.2rem;
  background: black;
  display: block;
  margin: 0.6rem 0;
}

.center {
    width: 96%;
    margin: auto;
}

/* Footer Section Start */
.main-footer {
    background: #413e3e;
    color: white;
    padding: 1.25rem;
}

.footer-items {
    text-align: center;
    list-style: none;
    font-size: 2rem;
    margin: 0;
    padding: 0;
}
.footer-item {
    display: block;
    margin: 1rem 1rem;
}

.footer-item__link {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a.footer-item__link:hover {
    color: #afafaf;
}

a.footer-item__link:active {
    color: #ff1b68;
}

/* Footer Section End */

