* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, a, li {
    text-align: center;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background: #fafff9;
}

.main-view {
    min-height: calc(100vh - 5.1875rem - 4.9375rem);
    margin-top: 5.1875rem;
}



.main-nav {
    display: none;
}

.modal {
    display: none;
}

/* Buttons General Start */

.button {
    padding: 1rem 0;
    color: white;
    background: #0e4f1f;
    font-weight: bold;
    font-size: 22px;
    border: #0e4f1f solid 5px;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    color: #0e4f1f;
    background: white;
    border: #0e4f1f solid 5px;
}

.button:active {
    color: #0e4f1f;
    background: rgb(250, 253, 65);
    border: #0e4f1f solid 5px;
}

.button:focus {
    outline: none;
}

/* Buttons General End */

/* Mobile Menu */
.mobile-nav {
    display: none;
    position: fixed;
    z-index: 101;
    top: 5rem;
    left: 0;
    background: rgba(28, 54, 28); /* rgb(235, 60, 106, 0.75); */
    width: 100vw;
    height: 100vh;
  }
  
  .mobile-nav__items {
    width: 100%;
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
  }
  
  .mobile-nav__item {
    background: #0e4f1f;
    padding: 2.5rem;
    border-bottom: solid 5px#2ddf5c;
  }
  
  li.mobile-nav__item {
    font-size: 2.5rem;
    font-weight: bold;
    color: aliceblue;
    width: 100%;
  }

  li.mobile-nav__item:hover,
  li.mobile-nav__item:focus {
    font-size: 2.5rem;
    font-weight: bold;
    color: aliceblue;
    width: 100%;
    background: #ff1b68;
    border-bottom: solid 5px #ffffff;
  }

  li.call-to-action-mobile  {
    color: #ffffff;
    background: #ff1b68;
    border-bottom: solid 5px #ffffff;
    border-top: solid 5px #ffffff;
    width: 100%;
    position: fixed;
    bottom: 3px;
  }

  li.call-to-action-mobile:hover,
  li.call-to-action-mobile:focus {
    font-size: 2.5rem;
    font-weight: bold;
    color: #ff1b68;
    width: 100%;
    background: #ffffff;
    border-bottom: solid 5px #ff1b68;
    border-top: solid 5px #ff1b68;
  }


 /* Main Navigation Start */

  .main-nav {
      display: none;
      text-align: right;
      vertical-align: middle;
      width: calc(100% - 200px);
  }
  
  .main-nav__items {
      list-style: none;
  }
  
  .main-nav__item {
      display: inline-block;
      margin: 0 1rem;
  }
  
  .main-nav__item a,
  .mobile-nav__item a {
      text-decoration: none;
      color: #0e4f1f;
      font-weight: bold;
      padding: 0.1875rem;
  }
  
  .main-nav__item a:hover,
  .mobile-nav__item a:hover {
      color: #3a834d;
      border-bottom: #3a834d solid 3px;
  
  }
  
  .main-nav__item a:active,
  .mobile-nav__item a:active {
      color: white;
      border-bottom: white solid 3px;
  
  }
  
  .call-to-action a,
  .mobile-nav__item--cta {
      color: white;
      background: #ff1b68;
      padding: 0.5rem 1rem;
      border: white 3px solid;
      border-radius: 8px;
  }
  
  .call-to-action a:hover,
  .mobile-nav__item--cta:hover {
      color: #ff1b68;;
      background: white;
      padding: 0.5rem 1rem;
      border: #ff1b68 3px solid;
      border-radius: 0.5rem;
  }
  

/* Main Header */ 

.main-header {
    width: 100vw;
    background: #2ddf5c;
    padding: 1rem 1.8rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
}

.main-logo {
    flex: 1;
}

.main-logo a {
    text-decoration: none;
    color: #0e4f1f;
    font-weight: bold;
    font-size: 2rem;
    display: inline-block;
}

.logo-image {
    display: inline-block;
    width: 3rem;
    height: auto;
    position: relative;
    left: -5px;
    background: #ff1b68;
    padding: 2px;
    border-radius: 100%;
    border: 2px white solid;   
    vertical-align: middle; 
}

.toggle-button {
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;

}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 100%;
  height: 0.2rem;
  background: black;
  display: block;
  margin: 0.6rem 0;
}

.center {
    width: 96%;
    margin: auto;
} 

/* Footer Section Start */
.main-footer {
    background: #413e3e;
    color: white;
    padding: 1.25rem;
}

.footer-items {
    text-align: center;
    list-style: none;
    font-size: 2rem;
    margin: 0;
    padding: 0;
}
.footer-item {
    display: block;
    margin: 1rem 1rem;
}

.footer-item__link {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a.footer-item__link:hover {
    color: #afafaf;
}

a.footer-item__link:active {
    color: #ff1b68;
}

/* Footer Section End */


@media only screen and (min-width : 320px) {
    
}

@media only screen and (min-width : 400px) {
    
}

@media only screen and (min-width : 768px) {
    .main-nav {
        display: inline-block;
    }

    .toggle-button {
        display: none;
    }

    .footer-item {
        display: inline;
    }
}

@media only screen and (min-width : 1024px) {
    
}
    
