/* HOSTING CSS */


.signup-title {
    font-size: 1.8rem;
    color: #ff5454;
}
  
    @media only screen and (min-width : 320px) {
        main {
            background: pink;
        }
    }

    @media only screen and (min-width : 400px) {
        main {
            background: red;
        }
    }

    @media only screen and (min-width : 768px) {
        main {
            background: yellow;
        }
    }
        
    @media only screen and (min-width : 1024px) {
        main {
            background: lightskyblue;
        }
    }